.basket
    h1.basket__title Корзина

    table.basket-table
        thead
            tr
                th Наименование
                th Цена
                th Количество
                th Сумма
        tbody
            tr
                td
                    .basket-product
                        .basket-product__img
                            img(src="img/boutle-img.png")
                        .basket-product__name 
                            |Рыбий жир Mermaids OMEGA-3 (Норвегия)
                    button(type="button").delete-product.delete-product_mob
                td
                    .hidden-title Цена
                    .basket-price.one-product-price
                        span.item-price 3500 
                        |руб.

                td
                    .hidden-title Количество
                    .switcher
                        button(type="button").switcher__btn.switcher__btn_left -
                        input(type="text" value="1" disabled="disabled" id="quantity").switcher__inp
                        button(type="button").switcher__btn.switcher__btn_right +
                td
                    .hidden-title Сумма: 
                    .basket-table__item
                        .basket-price.all-product-price
                            span.item-price 3500 
                            |руб.

                        button(type="button").delete-product.delete-product_desc
            tr
                td
                    .basket-product
                        .basket-product__img
                            img(src="img/production.png")
                        .basket-product__name 
                            |Морской коллаген с натуральными витаминами
                    button(type="button").delete-product.delete-product_mob
                td
                    .hidden-title Цена
                    .basket-price.one-product-price
                        span.item-price 3500 
                        |руб.

                td
                    .hidden-title Количество
                    .switcher
                        button(type="button").switcher__btn.switcher__btn_left -
                        input(type="text" value="1" disabled="disabled" id="quantity").switcher__inp
                        button(type="button").switcher__btn.switcher__btn_right +
                td
                    .hidden-title Сумма:
                    .basket-table__item
                        .basket-price.all-product-price
                            span.item-price 3500 
                            |руб.

                        button(type="button").delete-product.delete-product_desc

            tr
                td
                    .basket-product
                        .basket-product__img
                            img(src="img/product-3.jpg")
                        .basket-product__name 
                            |Подарочный набор Рыбий жир Mermaids
                    button(type="button").delete-product.delete-product_mob
                td
                    .hidden-title Цена
                    .basket-price.one-product-price
                        span.item-price 3500 
                        |руб.

                td
                    .hidden-title Количество
                    .switcher
                        button(type="button").switcher__btn.switcher__btn_left -
                        input(type="text" value="1" disabled="disabled" id="quantity").switcher__inp
                        button(type="button").switcher__btn.switcher__btn_right +
                td
                    .hidden-title Сумма
                    .basket-table__item
                        .basket-price.all-product-price
                            span.item-price 3500 
                            |руб.

                        button(type="button").delete-product.delete-product_desc

    .basket-info
        .basket-info__item
            a(href="#").basket-info__link Продолжить покупки

        .basket-info__item
            .total
                |Итого к оплате: 
                span.total__price 16750 
                |руб.


