//- TRANSPORTATION
section.transportation
	h2.main-title.transportation__title Из океана в бутылку за 24 часа

	ul.transportation__list
		li.transportation__item.transportation__item_one
			.transportation-up
				p.transportation__img.transportation__img_one #[img(src="img/fishs.png" alt="Рыбы")]
				span 1

			.transportation-down
				p Только лучшие виды тресковых рыб вылавливаются в Северной Норвегии. Каждая печень проверяется и выбирается только лучшая

		li.transportation__item.transportation__item_two
			.transportation-up
				p.transportation__img.transportation__img_two #[img(src="img/oil-image.png" alt="Масло")]
				span 2

			.transportation-down
				p Масло выделяется естественным образом, когда свежая холодная печень подвергается воздействию комнатной температуры

		li.transportation__item.transportation__item_three
			.transportation-up
				p.transportation__img.transportation__img_three #[img(src="img/capsules.png" alt="Капсулы")]
				span 3

			.transportation-down
				p Загрязняющие вещества удаляются без использования тепла или химических веществ

		li.transportation__item.transportation__item_four
			.transportation-up
				p.transportation__img.transportation__img_four #[img(src="img/filter-img.png" alt="Фильтр")]
				span 4

			.transportation-down
				p Масло проходит через неотбеленные бумажные фильтры


		li.transportation__item.transportation__item_five
			.transportation-up
				p.transportation__img  #[img(src="img/vit-img.png" alt="Витамины")]
				span 5
				div.vitamin E

			.transportation-down
				p Капля витамина Е и органического масла тимьяна добавляется в каждую бутылку

		li.transportation__item.transportation__item_six
			.transportation-up
				p.transportation__img.transportation__img_six #[img(src="img/product-1.jpg" alt="Бутылки")]
				span 6

			.transportation-down
				p Каждая бутылка продувается азотом и закрывается крышкой без проникновения кислорода

.cargo
	.cargo-up Свежая партия немедленно транспортируется международным дистрибьютерам.

	.cargo-down
		.cargo-down-up
			span #[img(src="img/air.jpg" alt="Самолет")]

			.logo
				div.logo__img #[img(src="img/logo.png", alt="Логотип" width="100" height="104")]
				p.logo__title #[span Mermaids] полезные продукты из Норвегии
				
		.cargo-down-block
			p.cargo-down-first Свежая партия немедленно транспортируется международным дистрибьютерам. 
			p.cargo-down-second Бутылки с рыбьим жиром хранятся в холодильнике на складах, готовые к отправке потребителям.


//-  FEEDBACK
section.feedback
	h2.feedback__title Отправьте заявку и получите спецпредложение!

	form.feedback__form.form
		h3.form__title Онлайн заявка

		label(aria-label="Ваше имя") #[input.form__input(type="text" placeholder="Ваше имя")]

		label(aria-label="Контактный телефон") #[input.form__input(type="text" placeholder="Контактный телефон")]

		textarea.form__textarea(placeholder="Комментарий")

		label.form__label(aria-label="Согласие на обработку данных") #[input.form__checkbox(type="checkbox")] #[span] #[p Согласие на обработку персональных данных]

		button.btn-orange(type="submit") Отправить заявку

//-  CERTIFICATION
section.certification
	h2.main-title Сертификаты на продукцию

	.certification-block
		.swiper-container.certification-slider
			.swiper-wrapper

				.swiper-slide
					span
						img(src="img/sert-1.jpg", alt="Сертификат 1")
				
				.swiper-slide
					span
						img(src="img/sert-2.jpg", alt="Сертификат 2")

				.swiper-slide
					span
						img(src="img/sert-3.jpg", alt="Сертификат 3")

				.swiper-slide
					span
						img(src="img/sert-4.jpg", alt="Сертификат 4")

				.swiper-slide
					span
						img(src="img/sert-3.jpg", alt="Сертификат 5")

				.swiper-slide
					span
						img(src="img/sert-4.jpg", alt="Сертификат 6")
		
		.swiper-button-prev
		.swiper-button-next
	