//-  CERTIFICATION
section.certification
	h2.main-title Сертификаты на продукцию

	.certification-block
		.swiper-container.certification-slider
			.swiper-wrapper

				.swiper-slide
					span
						img(src="img/sert-1.jpg", alt="Сертификат 1")
				
				.swiper-slide
					span
						img(src="img/sert-2.jpg", alt="Сертификат 2")

				.swiper-slide
					span
						img(src="img/sert-3.jpg", alt="Сертификат 3")

				.swiper-slide
					span
						img(src="img/sert-4.jpg", alt="Сертификат 4")

				.swiper-slide
					span
						img(src="img/sert-3.jpg", alt="Сертификат 5")

				.swiper-slide
					span
						img(src="img/sert-4.jpg", alt="Сертификат 6")
		
		.swiper-button-prev
		.swiper-button-next
	