extends ../layout/layout.pug
block vars
	- var title = 'Корзина';
block header
	include ../includes/header-inner.pug
block content
	include ../includes/content-basket.pug
block footer
	include ../includes/footer.pug